body {
  padding: 16px;
  font-family: sans-serif;
  background-color: #f9f9f9;
}

label, input, div {
  margin: 4px;
}

fieldset.flex {
  max-width: max-content;
  display: flex;
  flex-wrap: wrap;
}

fieldset.inline {
  padding: 4px;
  max-width: max-content;
  display: inline;
}

span.nobreak {
  display: inline-block;
}

span.incorrect {
  color: red;
}

span.correct {
  color: green;
}

input.incorrect {
  border-color: red;
}

input.correct {
  border-color: green;
}
