body {
  padding: 20px;
  font: sans-serif;
  background-color: #f9f9f9;
}

label, input, div {
  margin: 4px;
}

span {
  margin: 8px;
}

span.nobreak {
  display: inline-block;
}

span.incorrect {
  color: red;
}

span.correct {
  color: green;
}

input.incorrect {
  border-color: red;
}

input.correct {
  border-color: green;
}
